# HyperCLOVA X (Naver Cloud CLOVA Studio) 설정
# https://www.ncloud.com/product/aiService/clovaStudio 에서 발급받은 값을 입력하세요.
VITE_CLOVA_API_KEY=your_clova_studio_api_key
VITE_CLOVA_MODEL=HCX-005
VITE_CLOVA_HOST=https://clovastudio.stream.ntruss.com
